.box__indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box__indicator > p {
  color: gray;
  margin-top: 5px;
  font-size: 0.8rem;
}
.box__indicator__row {
  display: flex;
  align-items: center;
}
.box-1 {
  animation: opacity 5s ease 0s infinite;
}
.box-2 {
  animation: opacity 3s ease 2s infinite;
}
.box-3 {
  animation: opacity 2s ease 3s infinite;
}
.box-4 {
  animation: opacity 1s ease 5s infinite;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
